# macOS system file
.DS_Store

# Script files
main

# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files (Linux/mac)
a.out
*.out
main
program

# Executable files (Windows)
*.exe